
*{
    margin: 0;
    padding: 0;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 60%;

}
.navbar {
    overflow: hidden;
    background-color: rgba(255,137,52,1);
    position: sticky;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .navbarlogin {
    overflow: hidden;
    background-color: rgba(255,137,52,1);
    position: sticky;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .navbar a {
    float: left;
    display: flex;
    color: #000000;
    text-align: center;
    font-family: Lobster;
    text-decoration: none;
    font-size: 17px;
  }
  .nav-list{
      width: 50%;
      display: flex;
      align-items: center;
  }
  .nav-list li{
      list-style: none;
      padding: 20px 30px;


  }
  .nav-list li a{
      text-decoration: none;

  }
   .nav-list li a:hover{
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size:120%;

  }
  .rightNav{
    background-color: rgba(255,137,52,1);
    width: 50%;
    text-align: right;
    padding: 0.23px;
  }

  #search{
      padding: 2px;
      font-size: 15px;
      border: 2px solid black;
      border-radius: 10px;
  }

  .background{
      /* background: rgba(0,0,0,0.7) url(../img/bg.jpg); */
      background: linear-gradient(to bottom, #a9b7ba, #ff6f00, #6abbf6);
      background-size: cover;
      background-blend-mode: darken;
  }

  
  .box-main{
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(0, 0, 0);
  }
.firstSection{
    height: 28vh;
    padding: 15%;
    margin-top: 0%;
}
.firstSectionsearch{
    height: 75vh;
    padding: 7%;
    margin-top: 0%;
}
.firstSectionindex{
    height: 25vh;
    padding: 15%;
    margin-top: 0%;
}

.firstSectionwebdata{
    height: 28vh;
    padding: 15%;
    margin-top: 0%;
}

.firstSectionmovienotfound{
    height:0vh;
    padding: 0%;
    margin-top: 0%;
}

.secondhalf img{
    width: 120%;
    border: black;
    border-radius: 30px;
    padding: 20px;
}
.text-big{
    font-size: 41px;

}
.text-small{
    font-size: 20px;
    font-family: Lobster;


}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border:  2px solid white;
    border-radius: 10px;
    font-size: 16px;
    background: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-family: Lobster;
}
.btn:hover {
    color: rgb(0, 0, 0);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.btn-sm{
    padding: 2px 10px;
    color: black;
    border:  2px solid rgb(0, 0, 0);
    font-family: Lobster;
}
.btn-sm:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.contact{
    height: 34vh;
}

.text-center{
    text-align: center;
    color: rgb(7, 7, 7);
    font-size: 60px;
    padding: 20px;
    font-family: Lobster;


}

.form{
    max-width: 1200px;
    margin: 42px auto;
}

.form-input{
    margin: 25px 0;
    padding: 5px;
    width: 100%;
    font-size: 18px;
    border: 2px solid rgb(3, 3, 3);
    border-radius: 10px;
    font-family: Lobster;
}

.loginform{
    max-width: 800px;
    margin: 42px auto;
}

.text-footer{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background : rgba(255,137,52,1);
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Lobster;
  }
  
  th, td {
    padding: 31px;
    text-align: left;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 23px;
  }
  
  tr:hover {background-color: rgba(255,137,52,1);}

  a:link, a:visited {
    text-decoration: none;
    display: inline-block;
  }
  a.rlink:visited {color:#ffffff;}
  a.rlink:hover {
      color:rgb(0, 0, 0);
      font-size:110%;
    }
 




